.body {
    background-color: #fcfcfc;
    padding-top: 2px;
    min-height: 100vh;
    margin:0;
    display:flex;
    flex-direction:column;
    width: 400px;
}

.footer {
    text-align: center;
    font-size: 1.5rem;
    color:#aaa;
}

.button {
    margin-top:10px;
    margin-bottom: 10px;

}
.searchForm {
    width: 75;
}



.bookmark-title {
    font-size: 20px;
    font-weight: 500;
}

.body {
    background-color: #fcfcfc;
    padding-top: 55px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 400px;
} 

.footer {
    text-align: center;
    font-size: 1.2rem;
    color: #aaa;
}

#bookmarks {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bookmark-div{
    border: 1px solid grey;
    margin: 20px;
    padding: 15px;
}

.bookmark-title-div, .bookmark-url-div, .bookmark-description-div, bookmark-button-div{
    margin-bottom: 5px;
}